{% extends 'base.html' %}

{% block title %}404{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show mt-3">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endwith %}
    
    <h1 class="mb-4" style="text-align: center;">404 Not Found</h1>
{% endblock %}
