{% extends 'base.html' %}

{% block title %}{{ action }} Contact{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} mt-3">
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h2>{{ action }} Contact</h2>
            <form method="post">
                <div class="my-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control shadow" id="name" name="name" required value="{{ contact.name or '' }}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control shadow" id="email" name="email" value="{{ contact.email or '' }}">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="tel" class="form-control shadow" id="phone" name="phone" value="{{ contact.phone or '' }}">
                </div>
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating (1-5)</label>
                    <input type="number" class="form-control shadow" id="rating" name="rating" min="1" max="5" value="{{ contact.rating or '' }}">
                </div>
                <div class="mb-3">
                    <label for="comments" class="form-label">Comments</label>
                    <textarea class="form-control shadow" id="comments" name="comments">{{ contact.comments or '' }}</textarea>
                </div>

                <button type="submit" class="btn btn-primary me-2">{{ action }} Contact</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('contacts') }}';" >Back To Contacts</button>
            </form>
        </div>
    </div>
{% endblock %}
