{% extends 'base.html' %}

{% block title %}{{ action }} Contact{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show mt-3">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endwith %}

            <h2>{{ action }} Contact</h2>
            <form method="post" id="contactForm">
                <h4 class="mt-4">Survey</h4>
                <div class="my-3">
                    <div class="mb-3">
                        <label for="question1" class="form-label">Do you think that the genocide in Gaza is a Muslim issue?</label>
                        <div>
                            <input class="form-check-input" type="radio" name="question1" value="yes"> Yes
                            <input class="form-check-input ms-2" type="radio" name="question1" value="no"> No
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="question2" class="form-label">Do you think the Ummah is capable of uniting under one state that rules according the laws of Allah (swt)?</label>
                        <div>
                            <input class="form-check-input" type="radio" name="question2" value="yes"> Yes
                            <input class="form-check-input ms-2" type="radio" name="question2" value="no"> No
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="question3" class="form-label">Question 3</label>
                        <div>
                            <input class="form-check-input" type="radio" name="question3" value="yes"> Yes
                            <input class="form-check-input ms-2" type="radio" name="question3" value="no"> No
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="question4" class="form-label">Question 4</label>
                        <div>
                            <input class="form-check-input" type="radio" name="question4" value="yes"> Yes
                            <input class="form-check-input ms-2" type="radio" name="question4" value="no"> No
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="question5" class="form-label">Question 5</label>
                        <div>
                            <input class="form-check-input" type="radio" name="question5" value="yes"> Yes
                            <input class="form-check-input ms-2" type="radio" name="question5" value="no"> No
                        </div>
                    </div>
                </div>

                <h4 class="mt-4">Contact Information</h4>
                <div class="my-3">
                    <label for="name" class="form-label">Name<span style="color: red;"> *</span></label>
                    <input type="text" class="form-control shadow" id="name" name="name" required value="{{ contact.name or name or '' }}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control shadow" id="email" name="email" value="{{ contact.email or '' }}" {% if action == 'Edit' %} readonly {% endif %}>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" pattern="\d{10}" class="form-control shadow" id="phone" name="phone" value="{{ contact.phone or phone or '' }}">
                </div>
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating (5 is highest, 1 is lowest.)</label>
                    <input type="number" class="form-control shadow" id="rating" name="rating" min="1" max="5" value="{{ contact.rating or rating or '' }}">
                </div>
                <div class="mb-3">
                    <label for="comments" class="form-label">Comments</label>
                    <textarea class="form-control shadow" id="comments" name="comments">{{ contact.comments or comments or '' }}</textarea>
                </div>

                <button type="submit" class="btn btn-primary me-2" id="submitBtn">
                    <span role="status">{{ action }} Contact</span>
                </button>
                <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('contacts') }}';" >Back To Contacts</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const phone = document.getElementById("phone");
        const submitBtn = document.getElementById("submitBtn");
        const form = document.getElementById("contactForm");
        const spinner = document.createElement("span");
        spinner.classList.add("spinner-border", "spinner-border-sm");
        spinner.setAttribute("aria-hidden", "true");

        phone.addEventListener("input", function () {
            this.setCustomValidity("");
        });

        phone.addEventListener("invalid", function () {
            if (this.value.length == 0) {
                this.setCustomValidity("");
            }else {
                this.setCustomValidity("Phone number must be exactly 10 digits.");
            }
        });

        form.addEventListener("submit", function () {
            submitBtn.prepend(spinner);
            submitBtn.disabled = true;
        });
    </script>
{% endblock %}